<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Family Organizer</title>
        
        
        <!-- Add custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='custom_weekly_agenda.css') }}">
        
        <!-- Add Bootstrap CSS -->
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

        <!-- Add jQuery, Popper.js, and Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        
        <!-- Add GoogleFonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
        
        <!-- Add Icons -->
        <script src="https://kit.fontawesome.com/dd343aa4ef.js" crossorigin="anonymous"></script>
        
        <!-- Add Full Calendar -->
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>

       

        <!-- Custom Calendar CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='custom_calendar.css') }}">


        <script src="{{ url_for('static', filename='event_functions.js') }}"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='modal_script.js') }}"></script>
        <script src="{{ url_for('static', filename='update_week.js') }}"></script>

        
    </head>
    <body>
        <div id="content">
            <div id="violet-container">
                {% block violet_content %}
                {% endblock %}
            </div>
            <div id="white-container">
                {% block white_content %}
                {% endblock %}
            </div>
        </div> 
    </div> 

        
    </body>
</html>
